* {
    margin: 1%;
    padding: 0%;
    background-color: bisque;
}

table {
    border: 4px ridge;
    padding: 1%;
    min-width: 98%;
}

#izq {
    text-align: left;
}
#der {
    text-align: right;
}