* {
    margin: 1% auto;
    padding: 0% auto;
}

table {
    background-color: aqua;
    border: 6px double red;
    padding: 4px;
}

tr, td {
    padding: 5px;
    background-color: aqua;
    border: 3px solid black;
    border-collapse: collapse;
}

td {
    background-color: green;
}

#marron {
    background-color: brown;
}
#amarillo {
    background-color: yellow;
}
#rojo {
    background-color: red;
}